<div class="details">
  <div class="summary">
  <%= "エラーについて一言：" %>
  <%= link_to("#{blog.text}","/blogs/#{blog.id}") %>
  </div>
  <div id="session_dump" style="display:none"><pre>_csrf_token: &quot;dfHsUS1vrj/C37wCXm/E10R0ajskHY3T/3l1/hTvxpE=&quot;
session_id: &quot;a49f4cddc99e40e7647847902e899b88&quot;
warden.user.user.key: [[2], &quot;$2a$11$cZvXYsrBTxJxqLMGA9egV.&quot;]</pre></div>
</div>